* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    color: #555;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; 
}

h1 {
    padding: 0;
    margin: 0 auto 15px auto;
    text-align: center;
    color: rgb(35, 20, 85);
}

.icon-head {
    padding: 25px 0 0 0;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: rgb(35, 20, 85);
    list-style: none;
    font-size: 50px;
    
}

.description li::before {
    content: "\2022";
    color: #40E0D0;
    font-size: 1em;
    padding-right: 2px;
}

.description {
    border-left: 1px solid rgb(10, 53, 119);
    height: 100%;
    
}

.description li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 2px;
    margin-left: 10px;
}

/*****************
** HEADER **
*****************/

header {
    /*rgba(78, 131, 161, 0.9), */
    /* background-image: linear-gradient(rgba(5, 9, 252, 0.795), rgba(78, 130, 161, 0.664)), url('img/iso-republic-keyboard-notepad-iphone-flat-lay.jpg'); */
    /* background-image: linear-gradient(rgba(5, 9, 252, 0.795), rgba(78, 130, 161, 0.664)), url('img/background-image.jpg');     */
    /* background-image: linear-gradient(rgba(54, 214, 219, 0.726), rgba(78, 130, 161, 0.507)), url('img/alex-knight-192782-unsplash.jpg');         */
    background-image: linear-gradient(rgba(29, 210, 216,0.4), rgba(18, 235, 233,0.4)), url('img/alex-knight-192782-unsplash.jpg');            
    /* background-image: linear-gradient(rgba(0, 0, 0,0.9), rgba(0, 0, 0,0.5)), url('img/alex-knight-192782-unsplash.jpg');                 */
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

h2{
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    font-size: 150%;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h3 {
    /* color: rgb(221, 219, 219); */
    color: #fff;
    font-size: 100%;
    font-weight: 400;
    margin-bottom: 5px;
}

.main-img img{
    position: absolute;
    /*width: 1140px;
    */height: 100px;
    width: 100px;
    border-radius: 50%;
    top: 20%;
    left: 58%;
    /* transform: translate(-50%, -50%); */
    /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); */
    /*display: block;
    */-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.main-head {
    position: absolute;
    width: 40%;
    top: 30%;
    left: 35%;
    /* transform: translate(-90%, -50%); */
    /* -webkit-transform: translate(-90%, -50%);
    -moz-transform: translate(-90%, -50%);
    -ms-transform: translate(-90%, -50%);
    -o-transform: translate(-90%, -50%); */
    display: block;
    float: left;
}

.main-head i {
    color: #fff;
    float: left;
    margin-right: 10px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.main-nav {
    list-style: none;
    float: right;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
} 

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 0;
    font-size: 18px;
    border-bottom: 3px solid transparent;
    word-spacing: 3px;
    transition: border-bottom 0.2s;
    -webkit-transition: border-bottom 0.2s;
    -moz-transition: border-bottom 0.2s;
    -ms-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid  #40E0D0; 
}

/***** sticky nav ******/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(17, 162, 247, 0.918);
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #fff;
    padding: 9px 0;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    border-bottom: 3px solid  rgb(18, 57, 107); 
}

.sticky .main-nav {
    margin: 10px;
}

/*****************
** EDUCATION **
*****************/

#section-education {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    margin-top: 30px;
}

/* #section-education h1 {
    padding: 25px 0 0 0;
    text-align: center;
    color: rgb(35, 20, 85);
} */

#section-education h1 i {
    margin-left: 5px;
}



.date {
    margin: 0;
    text-align: right;
    padding: 10px 8px;
    /* border-right: 1px solid rgb(8, 81, 177);
    height: 100%; */
}

.date h2 {
    font-weight: 400;
    /* margin-top: -2px; */
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(10, 53, 119);
    margin: 0;
    padding: 0;
    font-size: 145%;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin: 20px 0 10px 0;

}

.education-area {
    border-left: 1px solid rgb(10, 53, 119);
    height: 100%;
    padding: 0 10px;
    list-style: none;
}

.education-area li {
    margin-bottom: 8px;
}

/*****************
** SKILLS **
*****************/

#section-skills {
    background-image: linear-gradient(rgba(255, 255, 255, 0.582), rgba(15, 58, 94, 0.7)), url('img/skill_back.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 40px;
    margin-top: 30px;
}

.skill-box {
    /* background-color: rgb(19, 18, 65); */
    border: 1px solid transparent;
    margin-left: 5%;
    width: 100%;
    border-radius: 7px    ;
    -webkit-border-radius: 7px    ;
    -moz-border-radius: 7px    ;
    -ms-border-radius: 7px    ;
    -o-border-radius: 7px    ;
}

.skill-box div {
    padding: 10px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.349);
}

.skill-box div:first-child {
    text-align: center;
}

.skill-box div:last-child {
    border: 0;
}

.skill-box h2 {
    color: #40E0D0;
}

.skill-box ul {
    list-style: none;
    font-size: 100%;
    font-weight: 400;
    color: #fff;
}

.skill-box li {
    padding-bottom: 2px;
}

.skill-box i {
    font-size: 20px;
    padding-right: 5px;
    color: #40E0D0;
}



/*****************
** EXPERIENCE **
*****************/

#section-experience {
    width: 100%;
    padding-bottom: 40px; 
    margin-top: 30px;   
}

.date li {
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 400;
    list-style: none;
}

/* .experience-description {
    padding-left: 10px;
} */



/*****************
** PROJECTS **
*****************/

#section-projects {
    padding-bottom: 40px;
    margin-top: 30px;
    background-image: url("img/background-image.jpg");
    background-size: cover;
    background-attachment: fixed;
 }

.project {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    padding: 0 40px;
}

.project h1 {
    text-align: left;
    color: teal;
    background-color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.project-img {
    display: block;
    /* max-width: 100%;
    height: 100%; */
    width: 94%;
    height: 215px;
}

.stack {
    opacity: 0;
    position: absolute;
	top: 1%;
	left: 7.5%;
	right: 0;
	bottom: 0;
	width: 80%;
	height: 77%;
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	padding: 2px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.project:hover .stack,
.project.active .stack {
	opacity: 1;
}

.project span{
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-80%, -90%);
    -webkit-transform: translate(-80%, -90%);
    -moz-transform: translate(-80%, -90%);
    -ms-transform: translate(-80%, -90%);
    -o-transform: translate(-80%, -90%);
}

.project span i {
    color: teal;
}

.stack li {
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 7px;
}

/* .bill {
    width: 95%;
    height: 215px;
} */

/*****************
** CO-CURRICULAR **
*****************/

#section-training {
    width: 100%;
    padding-bottom: 40px;
    margin-top: 30px;
}

#section-training h2 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/*****************
** FOOTER **
*****************/

footer {
    margin-top: 20px;
    background-color: rgb(87, 233, 233);
    padding: 50px;
    font-size: 80%;
    font-weight: 400;
    color: rgb(46, 50, 99);
}

/* .footer-nav {
    list-style: none;
    float: left;
} */

.message {
    font-size: 150%;
}

.phone {
    padding: 0;
}

.email {
    padding: 0;
}

.social-links {
    list-style: none;
    float: right;

}

.footer-nav li, 
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    /* color: rgb(136, 131, 131); */
    color: rgb(46, 50, 99);
    text-decoration: none;
    border: 0;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.social-links li a:hover {
    color: #fff;
}

footer p {
    margin-top: 4px;
    font-size: 90%;
    color: rgb(46, 50, 99);
    text-align: center;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-instagram,
.ion-logo-googleplus {
    transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 140%;
}

.ion-logo-linkedin:hover {
    color: #007bb6;
}

.ion-logo-github:hover {
    color: #000;
}

/*** animation *******/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}